# Use this file to construct an environment
# for developing napari-imagej from source.
#
# First, install mambaforge:
#
#   https://github.com/conda-forge/miniforge#mambaforge
#
# Then run:
#
#   mamba env create -f dev-environment.yml
#   conda activate napari-imagej-dev
#
# In addition to the dependencies needed for using napari-imagej, it includes
# tools for developer-related actions like running automated tests (pytest),
# linting the code (black), and generating the API documentation (sphinx).
# If you want an environment without these tools, use environment.yml.
name: napari-imagej-dev
channels:
  - conda-forge
dependencies:
  - python >= 3.8, < 3.13
  # Project dependencies
  - confuse >= 2.0.0
  - imglyb >= 2.1.0
  - jpype1 >= 1.4.1
  - labeling >= 0.1.12
  - magicgui >= 0.5.1
  - napari >= 0.4.17
  - numpy
  - openjdk=11
  - pandas
  - pyimagej >= 1.4.1
  - scyjava >= 1.8.1
  # Version rules to avoid problems
  - qtconsole != 5.4.2
  - typing_extensions != 4.6.0
  # Developer tools
  - myst-parser
  - pre-commit
  - pyqt5-sip
  - python-build
  - pytest
  - pytest-cov
  - pytest-env
  - pytest-qt
  - ruff
  - sphinx
  - sphinx-copybutton
  - sphinx_rtd_theme
  - qtpy
  # Project from source
  - pip
  - pip:
    - validate-pyproject[all]
    - -e '.'
