# Use this file to construct an environment
# for developing napari-imagej from source.
#
# First, install mambaforge:
#
#   https://github.com/conda-forge/miniforge#mambaforge
#
# Then run:
#
#   mamba env create -f dev-environment.yml
#   conda activate napari-imagej-dev
#
# In addition to the dependencies needed for using napari-imagej, it includes
# tools for developer-related actions like running automated tests (pytest),
# linting the code (black), and generating the API documentation (sphinx).
# If you want an environment without these tools, use environment.yml.
name: napari-imagej-dev
channels:
  - conda-forge
dependencies:
  # Breaking change in 3.11.1 breaks napari - see
  # https://github.com/napari/napari/issues/5705 for the fix
  - python >= 3.8, <=3.11.0
  # Project dependencies
  - confuse
  - imglyb >= 2.1.0
  - jpype1 >= 1.4.1
  - labeling >= 0.1.12
  - magicgui >= 0.5.1
  - napari >= 0.4.17
  - numpy
  - openjdk=8
  - pandas
  - pyimagej >= 1.4.1
  - scyjava >= 1.8.1
  # Version rules to avoid problems
  - qtconsole != 5.4.2
  - typing_extensions != 4.6.0
  # Developer tools
  - autopep8
  - black >= 23.1.0
  - build
  - flake8
  - flake8-pyproject
  - flake8-typing-imports
  - isort
  - myst-parser
  - pre-commit
  - pyqt5-sip
  - pytest
  - pytest-cov
  - pytest-env
  - pytest-qt
  - sphinx
  - sphinx-copybutton
  - sphinx_rtd_theme
  - qtpy
  # Project from source
  - pip
  - pip:
    - validate-pyproject[all]
    - -e '.'
