# Use this file to set up napari and napari-imagej.
#
# First, install mambaforge:
#
#   https://github.com/conda-forge/miniforge#mambaforge
#
# Then run:
#
#   mamba env create
#   conda activate napari-imagej
#
# It includes the dependencies needed for using napari-imagej but not tools
# for developer-related actions like running automated tests (pytest),
# linting the code (black), and generating the API documentation (sphinx).
# If you want an environment including these tools, use dev-environment.yml.

name: napari-imagej
channels:
  - conda-forge
  - defaults
dependencies:
  # Project depenencies
  - confuse
  - labeling >= 0.1.12
  - magicgui >= 0.5.1
  - napari
  - numpy
  - openjdk=8
  - pyimagej >= 1.3.0
  - scyjava >= 1.8.1
  # Project from source
  - pip
  - pip:
    - '.'
